{% extends 'register.html' %}

{% block head%}
<title>添加店铺</title>
{% endblock %}

{% block per%}
<li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">添加店铺</font></font></li>
{% endblock %}


{% block from%}

    <div class="w3l_banner_nav_right">
        <!-- login -->
        <div class="w3_login">
            <h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">添加店铺</font></font></h3>
            <div class="w3_login_module">
                <div class="module form-module">


                    <div class="form" style="display: block;">
                        <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">添加店铺</font></font>
                        </h2>

                        <form action="/storp/add/" method="POST" enctype="multipart/form-data">
                            <input type="hidden" name="art.id">
                            店铺名称: <input type="text" name="name">
                            店铺封面：<input type="file"  name="cover"> </a>
                            店铺详情：
                            <textarea name="intro" id="" cols="38" rows="10"></textarea>
                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                <input type="submit" value="添加店铺"></font></font>
                        </form>
                    </div>
                    <div class="cta"><a href="/Users/homepage/"><font style="vertical-align: inherit;"><font
                            style="vertical-align: inherit;">取消添加</font></font></a></div>
                </div>
            </div>
            {% endblock %}
