{% extends 'baes.html' %}

{% block head%}
<title>店铺详情列表</title>
{% endblock%}


{% block login%}
<li><a href="{% url 'Users:personal'%}">个人中心</a></li>
<li><a href="#">查看店铺</a></li>
{% endblock %}


{% block bottom %}
{% endblock%}

{% block brands%}


<div class="top-brands">
    <div class="container">
        <h3>店铺详情</h3>
        <table border="0" width="1000px" cellpadding="11px" align="center">
            <tr align="center">
                <td>店铺封面</td>
                <td><img src="/{{storp.cover}}" width="500px" alt=""></td>
            </tr>
            <tr>
                <td>店铺名称</td>
                <td align="center">{{storp.name}}</td>
            </tr>
            <tr>
                <td>店铺状态</td>
                {% if storp.status == 0 %}
                <td> 正在营业</td>
                <td><a href="{% url 'storp:change' storp.id 1 %}"> 暂停营业</a></td>
                <td><a href="{% url 'storp:change' storp.id 2 %}"> 停止营业</a></td>
                {% elif storp.status == 1 %}
                <td> 正在营业</td>
                <td><a href="{% url 'storp:change' storp.id 0 %}"> 开始营业</a></td>
                <td><a href="{% url 'storp:change' storp.id 2 %}"> 停止营业</a></td>
                {% elif storp.status == 2%}
                <p>店铺赢已经被删除</p>
                {% endif %}
            </tr>
        </table>
    </div>
</div>
{% endblock %}
<!-- top-brands -->


{% block fresh %}
{% endblock %}

