{% extends 'baes.html' %}

{% block head%}
<title>店铺详情列表</title>
{% endblock%}


{% block login%}
<li><a href="{% url 'Users:personal'%}">个人中心</a></li>
<li><a href="#">查看店铺</a></li>
{% endblock %}


{% block bottom %}
{% endblock%}

{% block brands%}


<div class="top-brands">
    <div class="container">
        <h3>Hot Offers</h3>
        <div class="agile_top_brands_grids">
            <div class="col-md-3 top_brand_left">
                <div class="hover14 column">
                    <div class="agile_top_brand_left_grid">
                        <div class="tag"><img src="{{i.name}}" alt=" " class="img-responsive"/></div>
                        <div class="agile_top_brand_left_grid1">
                            <figure>
                                <div class="snipcart-item block">
                                    <div class="snipcart-thumb">
                                        <a href="single.html"><img title=" " alt=" " src="/static/images/1.png"/></a>
                                        <p>fortune sunflower oil</p>
                                        <h4>$7.99 <span>$10.00</span></h4>
                                    </div>
                                    <div class="snipcart-details top_brand_home_details">
                                        <button class="btn btn-danger my-cart-btn hvr-sweep-to-right" data-id="1"
                                                data-name="Fortune sunflower oil" data-summary="summary 1"
                                                data-price="7.99" data-quantity="1" data-image="/static/images/1.png">Add to
                                            Cart
                                        </button>
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 top_brand_left">
                <div class="hover14 column">
                    <div class="agile_top_brand_left_grid">
                        <div class="agile_top_brand_left_grid1">
                            <figure>
                                <div class="snipcart-item block">
                                    <div class="snipcart-thumb">
                                        <a href="single.html"><img title=" " alt=" " src="/static/images/3.png"/></a>
                                        <p>basmati rise (5 Kg)</p>
                                        <h4>$11.99 <span>$15.00</span></h4>
                                    </div>
                                    <div class="snipcart-details top_brand_home_details">
                                        <button class="btn btn-danger my-cart-btn hvr-sweep-to-right" data-id="2"
                                                data-name="Indian gate basmati rise" data-summary="summary 2"
                                                data-price="11.99" data-quantity="1" data-image="/static/images/3.png">Add to
                                            Cart
                                        </button>
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 top_brand_left">
                <div class="hover14 column">
                    <div class="agile_top_brand_left_grid">
                        <div class="agile_top_brand_left_grid_pos">
                            <img src="/static/images/offer.png" alt=" " class="img-responsive"/>
                        </div>
                        <div class="agile_top_brand_left_grid1">
                            <figure>
                                <div class="snipcart-item block">
                                    <div class="snipcart-thumb">
                                        <a href="single.html"><img src="/static/images/2.png" alt=" "
                                                                   class="img-responsive"/></a>
                                        <p>Pepsi soft drink (2 Ltr)</p>
                                        <h4>{{art.name}} <span>$10.00</span></h4>
                                    </div>
                                    <div class="snipcart-details top_brand_home_details">
                                        <button class="btn btn-danger my-cart-btn hvr-sweep-to-right" data-id="3"
                                                data-name="Pepsi soft drink bottles" data-summary="summary 3"
                                                data-price="8.00" data-quantity="1" data-image="/static/images/2.png">Add to
                                            Cart
                                        </button>
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 top_brand_left">
                <div class="hover14 column">
                    <div class="agile_top_brand_left_grid">
                        <div class="agile_top_brand_left_grid_pos">
                            <img src="/static/images/offer.png" alt=" " class="img-responsive"/>
                        </div>
                        <div class="agile_top_brand_left_grid1">
                            <figure>
                                <div class="snipcart-item block">
                                    <div class="snipcart-thumb">
                                        <a href="single.html"><img src="/static/images/4.png" alt=" "
                                                                   class="img-responsive"/></a>
                                        <p>dogs food (4 Kg)</p>
                                        <h4>$9.00 <span>$11.00</span></h4>
                                    </div>
                                    <div class="snipcart-details top_brand_home_details">
                                        <button class="btn btn-danger my-cart-btn hvr-sweep-to-right" data-id="4"
                                                data-name="Dogs food" data-summary="summary 4" data-price="9.00"
                                                data-quantity="1" data-image="/static/images/4.png">Add to Cart
                                        </button>
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
{% endblock %}
<!-- top-brands -->


{% block fresh %}
{% endblock %}